/* 선택자 */

/* 1. 전체 선택자 ' * '  :  문서의 모든 요소를 다 선택 */

/* 2. 요소(태그) 선택자 : 지정된 타입의 모든 항목을 선택 */
/* ex) 
h1 {

} ,
 p {

 } 처럼 태그로 선택 */

/* h1, h2 { 

} 의 형태로 요소 여러개 선택 가능 */

/* 3. ID 선택자 :  */
#text {
  color: blueviolet;
  font-size: 20px;
}

/* 4. 클래스 선택자 */
.class {
  color: aquamarine;
  font-size: 100px;
  font-weight: 700;
}

/* 5. 자손 선택자 */
/* 부모와 자식 사이에 띄어쓰기 필수 */
/* 부모 자식 {} 의 형태 */
li a {
  text-decoration: none;
  color: teal;
}
/* li의 자식이 a를 선택 */
