/* display */
/* block - 한칸을 모두 차지 */
/* inline - 콘텐츠 길이 만큼만 차지, 너비나 높이가 무시됨 */
/* inline-block -  콘텐츠 길이 만큼만 차지, 너비나 높이 설정 가능*/
/* none : 그 자체가 사라지는 건 아니지만 공간을 차지하지 않음 */

h1 {
  background-color: bisque;
  display: inline;
  /* 다음과 같이 display 요소를 이용해 변경가능 */
}

span {
  background-color: aqua;
  display: block;
}

/* 상대적 단위 */
/* % : 항상 다른 값과 상대적 */

/* em : 상대적 단위이며 다른 요소의 영향을 받음 */
/* 1em : 부모 요소와 같은 크기 , 2em 은 2배 , 부모의 글꼴의 크기에 영향을 받음 */
/* 중첩될수록 단계별로 크기가 달라짐 */

/* rem : em과 유사하지만 글꼴 크기를 부묘 요소의 크기에 따라 바꾸지 않고 루트 HTML 요소의 크기에 따라 바뀜 */
