<!-- ejs는 디폴트 루트가 /views임 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>homepage</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut culpa ad
      perferendis delectus quia nesciunt quibusdam aspernatur at modi architecto
      eum corporis non quod, veritatis nostrum ducimus suscipit distinctio
      minus?
    </p>
  </body>
</html>
